# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
htmlcov/
.tox/

# Django migration files
**/migrations/*

# Database
*.sqlite3
*.db

# Media & static files
/media/
staticfiles/
static/

# Secrets or settings
.env
*.env
.env.*

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
